
body {
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    background-color: #f7e48d;
}

.quem-somos {
    background-color: chocolate;
}

.parceiros {
    background-color: #f7e48d;
}

.servicos {
    background-color: chocolate;
}

.produtos {
    background-color:#f7e48d;
}


.margin-quemsomos{
    padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 0px;
}

.margin-parceiros{
    padding-top: 40px;
    padding-bottom: 50px;
    /*margin-bottom: 5px;*/
    margin-top: 0;
}

.margin-produtos{
    padding-top: 40px;
    padding-bottom: 50px;
    /*margin-bottom: 5px;*/
    margin-top: 0;
}

.margin-servicos{
    padding-top: 40px;
    padding-bottom: 50px;
    /*margin-bottom: 5px;*/
    margin-top: 0;
}

.bg-footer{
    background: black;
    color: white;
}

.margin{
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
